body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.main-div {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  background-color: #000000;
  font-weight: bold;
}

.nav-div {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.asteriskField {
  color: red;
}

.container {
  max-width: 800px;
}

h2 {
  color: #EA5455;
}

.question-text {
  margin-bottom: 10px;
  font-weight: bold;
  color: #FFF5E4; /* Changed color for better contrast */
}

.question-options {
  display: flex;
  flex-direction: column;
}

.custom-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-control-input {
  margin-right: 10px;
  width: 24px; /* Ensuring consistent size */
  height: 24px; /* Ensuring consistent size */
  border-color: #FFF5E4; /* Changed border color for better visibility */
  background-color: #FFF5E4; /* Custom background color for radio button */
}

.custom-control-label {
  color: white; /* Matching the text color to the background */
  font-size: 14px;
}

.custom-control-indicator {
  border-color: #FFF5E4; /* Border color of the radio button */
}

.text-center {
  text-align: center;
}

.list-group-item {
  background-color: #FFF5E4; /* Background for the result items */
  color: #000000; /* Text color */
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.progress-item {
  margin-top: 5px;
}

a.btn {
  background-color: #EA5455; /* Button background color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

a.btn:hover {
  background-color: #D9374D; /* Hover effect */
}

.progress {
  height: 25px;
  border-radius: 5px;
  background-color: #555; /* Darker background for the progress bar */
}

.progress-bar {
  background-color: #EA5455; /* Progress bar color */
  text-align: center;
  line-height: 25px; /* Center text vertically */
  color: white;
  font-weight: bold;
}